<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Machine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4893266B1C05BB4A009B0256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4893267F1C05BB4B009B0256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4893268A1C05BB4B009B0256</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
